form{
    min-width: 80vw;
}
fieldset {
    display:flex;
    padding: 2rem;
    justify-content:center;
    border: none;
}
label {
    font-size: 1.5rem;
    /*TODO Skinny font*/
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, input[type=number] {
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: textfield;
}
.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}
.title{
    font-size: 3rem;
}
.description{
    font-size: 2rem;
    white-space: nowrap;
}
.details-area{
    display: flex;
    gap: 2rem;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 2px solid black;
}
.container-dropdown{

}
.container-selection{
    margin: 0 auto;

}
.comments-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.comments{
    height: 7rem;
    width: 60vw;
}
.submit{
    width: 12rem;
    height: 3rem;
}
.menu-item{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
    border: 3px dashed cyan;
    border-radius: 20%;
    overflow: clip;
    background-color: black;
    color: linen;
    font-size: 3rem;
    min-width: 30%;
    width: 100%;
}
