.order-form {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    min-width: 80vw;
}

fieldset {
    display: flex;
    padding: 2rem;
    justify-content: center;
    border: none;
}

label {
    font-size: 1.5rem;
    /*TODO Skinny font*/
}
input, select, textarea, button {
    border-radius: 1.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, input[type=number] {
    /* Chrome */
    -webkit-appearance: none;
    /* Firefox */
    -moz-appearance: textfield;
}

.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.title {
    font-size: 3rem;
}

.description {
    font-size: 2rem;
    white-space: nowrap;
}

.details-area {
    display: flex;
    gap: 2rem;
    position: sticky;
}

.flavor-selection-area {
    display: grid;
    overflow: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow: auto;
    scrollbar-color: linen transparent;
}

.item-price-div {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    font-family: "Caveat", sans-serif;
}

.add-cart-button {
    height: 32px;
    width: 32px;
    margin: 0.5rem 0;
    background-color: lightgreen;
}

.container-label {
    margin: 0 auto;
    font-size: 4rem;
    padding: 1rem;
}

.container-dropdown {
    height: 48px;
    font-size: 3rem;
    width: 125px;
    text-align: center;
    background-color: linen;
}

.comments-group {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.comments {
    height: 7rem;
    width: 60vw;
}

.submit {
    width: 12rem;
    height: 3rem;
}

.menu-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
    border-radius: 20%;
    overflow: clip;
    background-color: black;
    color: linen;
    font-size: 3rem;
    min-width: 30%;
    width: 100%;
}
